
export QT_QPA_PLATFORMTHEME=qt5ct
export QT_PLATFORMTHEME=qt5ct
export QT_PLATFORM_PLUGIN=qt5ct

export XDG_CURRRENT_DESKTOP=i3
export XDG_SESSION_DESKTOP=i3
export XDG_SESSION_TYPE=x11

export GTK_USE_PORTAL=1

export BROWSER=firefox
export EDITOR=nvim
export GTK_IM_MODULE=fcitx
export QT_IM_MODULE=fcitx
export XMODIFIERS="@im=fcitx"


# monitor setup
/usr/bin/prime-offload
# xrandr --setprovideroutputsource modesetting NVIDIA-0
xrandr --auto                             || true
xrandr --output HDMI-0 --left-of eDP-1-1  || true
xrandr --output HDMI-0 --primary          || true

